body {
  background-color: #ececec;
}

.navbar-custom {
  background-color: #ffffff;
}

.navbar-brand img {
  width: 160px;
}

.navbar-light .navbar-text {
  color: rgb(1 122 223);
  font-weight: 600;
}